@use 'colours';
@use 'fonts';

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

html {
  font-family: fonts.$main_font;
}
@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}


@media (min-width: 52em) {
  html {
    font-size: 12px;
  }
}


@media (min-width: 58em) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 90em) {
  html {
    font-size: 16px;
  }
}




/*
 * navbar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.navbar {

  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  color: #f1f1f1;
  background-color: #2c3e50;
}
@media (min-width: 48em) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* navbar links */
.navbar a {
  color: #fff;
}


.navbar a:hover,
.navbar a:hover {
  text-decoration: none;
  color: colours.$secondary_colour;
}
/************************************/






/* mail button */

.button {   
    background-color: #fff;    
    position: relative;
    left: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 6px;    
    text-decoration: none;   
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    left: 9.75em;    
 }





/* name section */
.navbar-name p {
  color: #fff;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.2rem;
  text-align: center;
}

/* description section */

.navbar-description p {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;  
  text-align: center;
  font-size: 0.8rem;
}

/* webmail section */



/* navbar nav */
.navbar-nav {
  padding-left: 0;
  list-style: none;
  text-align: center;
  
  
}

@media (min-width: 48em) {
  .navbar-nav {
    text-align: right;
    
  }
}
.navbar-nav-item {
  display: block;
}


/************************************/
/* my photo avatar */

.avatar {
  display: inline-block;
  width: 6.5rem;
  height: 7rem;
  border-radius: 50%;
  border-style: none;
  border-color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* icon brand section */
.navbar-nav-brand {
  text-align: center;
}

.navbar-nav-brand a {
  width: 1em;
  line-height: 1em;
}

.navbar-nav-item a {
  color: #f1f1f1;
  font-size: 1.25rem;
}

@media (min-width: 48em) {
  .navbar-nav-item a {
    font-size: 1rem;  
  }
}



.navbar-nav-item a:hover,
.navbar-nav-item a:focus {
  text-decoration: none;
  color: colours.$secondary_colour;
}
.navbar-nav-item a:active {
  font-weight: bold;
}


/* Sticky navbar
 *
 * Add the `navbar-sticky` class to the navbar's container to affix it the
 * contents to the bottom of the navbar in tablets and up.
 */

@media (min-width: 48em) {
  .navbar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.navbar`.
 */


.content {
  padding-top:    2rem;
  padding-bottom: 2rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 48em;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
  }
}