@use '../base/colours';

.footer {
  
  padding: 1rem 1rem;
  font-size: small;
  overflow: auto;
  width: 100%;
  background-color: colours.$main_colour;
  color: colours.$lightshade_colour;
  text-align: center;

  a {
    color: colours.$lightshade_colour;
  }
  a:hover {
    color: colours.$shadow_colour; 
  }
}