@use '../base/colours';
@use '../base/fonts';

.header-container {
  top: 0;
  left: 50%;
  text-align: center;
  z-index: 1000;
  padding-top: 1rem;
  background-color: colours.$main_colour;
  color: colours.$anti_colour;

}

.site-title {
  font-family: fonts.$main_font;
  color: colours.$lightshade_colour;
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
  padding: 2.5rem 0 1.5rem 1.5rem;
}