{% extends "index.html" %}

{% block title %}
  {{ term.name ~ " Articles" }} - {{ super() }} {% endblock title %}
  
{% block header_title %}
  {{ term.name ~ " Articles" }}
{% endblock header_title %}


{% block content %}
<div class="post">
  <h1 class="page-title">{{ term.name | capitalize }}</h1>
  {% set section = term %}
    {% for page in section.pages %}
    <div class="post-preview">

      <h2 class="post-preview-title">
        <a href="{{ page.permalink }}">
          {{ page.title }}                
        </a>
      </h2>

      <div class="tags-article">
        <ul>
          {% if page.taxonomies.tags %} 
            {% for tag in page.taxonomies.tags | sort %}
            <li style="background: {{ config.extra.tags_colour[tag].bg }}">
              <a style="color: {{ config.extra.tags_colour[tag].text }}"
               href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">{{ tag }}</a>&nbsp;
            </li> 
            {% endfor %}
          {% endif %}        
          <li class="post-preview-info">  {{ page.date | date(format="%b %Y") | upper }} </li>
        </ul>    
      </div>                            
    </div>
    {% endfor %}
</div>
{% endblock %}
<br>