@use '../base/colours';
@use '../base/fonts';



.external-article-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: colours.$lightshade_colour;
  border-left: 0.25rem solid colours.$shadow_colour;
  padding: 0.75rem 1rem;
  margin: 2rem 0;
  font-size: 0.9rem;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}

.external-article-box:hover {
  background-color: colours.$shadow_colour;
}

.flag-icon {
  width: 2rem;
  height: auto;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

