@use '../base/colours';
@use '../base/fonts';

.navbar {
  display: flex;
  font-family: fonts.$main_font;
  font-size: 0.9rem;
  letter-spacing: -0.02em;
  text-align: center;
  color: colours.$title_colour;
  border-top: 1px solid colours.$shadow_colour;
  border-bottom: 1px solid colours.$shadow_colour;
  justify-content: center;
  z-index: 1000;
  gap: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
  margin-bottom: 1rem;

  @media (max-width: 640px) {  // smartphone
    justify-content: flex-start;
    text-align: left;
  }


  a {
    position: relative;
    color: colours.$title_colour;
    text-decoration: none;    
    display: inline-block;
    padding: 0.75rem 0.75rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus {
      background-color: colours.$shadow_colour;
      color: colours.$title_colour;
      outline: none;
    }
  }
a.active {
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10%;
      right: 10%;
      height: 3px;
      background-color: colours.$title_colour;
    }
  }
}