@use '../base/colours';
@use '../base/fonts';

.navbar {
  font-family: fonts.$main_font;
  font-size: 1.2em;
  background-color: colours.$main_colour;
  border-top: 1px solid colours.$anti_colour;
  justify-content: center;
  z-index: 1000;
  margin-bottom: 1rem;


  a {
    color: colours.$anti_colour;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus {
      background-color: colours.$anti_colour;
      color: colours.$shadow_colour;
      outline: none;
    }
  }
}

