@use '../base/colours';
/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */
.page,
.post,
.post-preview {
  max-width: 81ch;
  margin: 0 auto 4rem auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (max-width: 640px) {  // smartphone
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 41ch;
  }
}

.post-preview {
  margin-bottom: 1rem;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: colours.$title_colour;
}
.page-title,
.post-title {
  margin-top: 0;  
}

.page-title {
  margin-bottom: 2rem;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: colours.$main_colour;
  font-weight: 300;
  font-size: 1rem;
}



.post-preview:hover {
  background-color: colours.$lightshade_colour;  // couleur gris clair au survol
}


/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: colours.$secondary_colour;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}