@use '../base/colours';

.profile-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem 4rem 4rem 4rem;
  flex-wrap: nowrap;

  @media (max-width: 640px) {  // smartphone
    padding: 2rem 2rem 2rem 2rem;
  }
}

.profile-card-left {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38%;

}

.profile-card-right  {
  flex: 1 1 auto;
  min-width: 0;
}
.profile-card-right p {    
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}




@media (max-width: 640px) {
   .profile-card {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .profile-card-left, .profile-card-right {    
    flex: 1 1 100%;  // full width on small screens
  }
}


.profile-card-rect {
  align-items: center;
  justify-content: center;
  background-color: colours.$shadow_colour;
  padding: 1rem;
  width: fit-content;
  text-align: center;
  
}
.profile-card-rect h1 {
    color: colours.$main_colour;
    font-size: 1rem;
    padding: 0;
    margin: 0.5rem;
}
.profile-card-rect h2 {
    color: colours.$secondary_colour;
    font-size: 0.9rem;
    font-weight: 200;
    padding: 0;
    margin: 0.5rem;
}
.profile-card-rect a {
    font-size: 0.9rem;
}


.profile-card-img-container {
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 8px solid white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  margin-top: 1rem;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 0 0 0;
    display: block;
  }
}

.profile-card-brands {
  align-items: center; 
  justify-content: center;
  display: flex;
  gap: 0.5em; 
}

.brand-icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  color: colours.$main_colour;
  transition: color 0.3s;
  overflow: visible; 
}

   


.brand-icon:hover, .brand-icon:focus {
  color: colours.$highlight_colour;
}

