@use '../base/colours';

/* the timeline */
.timeline-entry {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  .timeline-date {
    position: relative;
    font-size: 0.9rem;
    color: colours.$darkshadow_colour;
	margin-bottom: -1.5rem;
	margin-top: -1.5rem;

    &::before {
      content: '';
	  display: inline-block;
      width: 12px;
      height: 12px;	  
	  margin-left: -0.45rem;
	  margin-right: 1.05rem;
      border-radius: 50%;
      background-color: colours.$secondary_colour;
      border: 2px solid colours.$secondary_colour;
    }
  }

  .timeline-item {
    position: relative;
    padding-left: 1.5rem;
	padding-bottom: 4rem;
    border-left: 2px solid colours.$darkshadow_colour;
    flex: 1;
    color: colours.$main_colour;

	    h3 {
			margin-top: -0.1rem;
		}

		h5 {
			margin-top: -0.5rem;
			font-weight: 400;
		}
		
		h6 {
			font-weight: 200;
			font-style: italic;
			color: colours.$darkshadow_colour;
			font-size: 0.9rem;	
		}

		mark {
			display: inline-block;
			padding-left: clamp(4px, 0.1rem, 100vw);
			padding-right: clamp(4px, 0.1rem, 100vw);
			padding-top: 0.1rem;
			padding-bottom: 0.1rem;
			margin-right: 0.1rem;
			margin-bottom: 0.1rem;
			color: colours.$anti_colour;
			background-color: colours.$secondary_colour;
			white-space: nowrap;
			border-radius: 5%;
		}
	}
}


