@use '../base/colours';

/* the timeline */


.timeline-item {
  margin-left: 1rem;
	padding: 0.5rem 0.5rem 0.5rem;
	position: relative;
	color:  colours.$main_colour;
	border-left: 2px solid colours.$border-time-color;
	
  h6 {
    color: colours.$main_colour;
    margin-top: -0.5rem;
    font-weight: 300;
  }
  mark {
   display: inline-block;
   padding: 0.1rem 0.1rem;
   margin-right: 0.1rem;
   color: colours.$anti_colour;
   background-color: colours.$secondary_colour;
   white-space: nowrap;
   }
	&::before {
		content: attr(date-is);
		position: absolute;
		left: 0.5rem;
		font-weight: bold;
		top: 0.5rem;
		display: block;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 0.5rem;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid colours.$border-time-color;
		background: white;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			colours.$border-time-color 60%,
			rgba(colours.$border-time-color, 0)) 1 100%
		;
	}
}


