@use 'fonts';
@use 'colours';

html {
  scroll-behavior: smooth;
  font-family: fonts.$main_font;

  // Taille par défaut (desktop 1024–1920px)
  font-size: 16px;
  line-height: 1.6;

  // Smartphones (<640px)
  @media (max-width: 639px) {
    font-size: 15px;
    line-height: 1.5;
  }

  // Tablettes et petits laptops (640–1023px)
  @media (min-width: 640px) and (max-width: 1023px) {
    font-size: 16px;
    line-height: 1.6;
  }

  // Laptops larges (1024–1439px)
  @media (min-width: 1024px) and (max-width: 1439px) {
    font-size: 17px;
    line-height: 1.65;
  }

  // Desktops très larges (>1440px)
  @media (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.7;
  }

  // Très grands écrans (>1920px)
  @media (min-width: 1920px) {
    font-size: 20px;
    line-height: 1.8;
  }
}


html,
body {
  font-family: fonts.$main_font;
  color: colours.$main_colour;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}