@use 'fonts';
@use 'colours';

html {
  scroll-behavior: smooth;
  font-family: fonts.$main_font;
  font-size: 14px;       // Taille de base confortable pour un blog
  line-height: 1.5;      // Hauteur de ligne plus lisible

  @media (max-width: 780px) {
    font-size: 16px;
    line-height: 1.25;
  }

}

html,
body {
  max-width: 1024px;  // Largeur fixe pour confort de lecture
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  left: 50%;



}

body {
  font-family: fonts.$main_font;
  color: colours.$main_colour;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
