@use 'colours';
@use 'fonts';

code,
pre {
  font-family: fonts.$code_font;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: colours.$highlight_colour;
  background-color: colours.$lightshade_colour;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: colours.$lightshade_colour;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: colours.$lightshade_colour;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  background-color: colours.$lightshade_colour;
}
