$main_colour: #303030;
$secondary_colour: #dc143c;
$highlight_colour: #ff1b2d;
$darkshadow_colour: #808080;
$shadow_colour: #ececec;
$lightshade_colour: #f9f9f9;
$anti_colour: #fff;
$title_colour: #1F1F1F;

