$main_colour: #414a4c;
$secondary_colour: #dc143c;
$highlight_colour: #ff1b2d;
$darkshadow_colour: #808080;
$shadow_colour: #ececec;
$lightshade_colour: #f9f9f9;
$anti_colour: #fff;
$title_colour: #2a3439;

