$main_colour: #303030;
$secondary_colour: #006241;
$highlight_colour: #00b371;
$darkshadow_colour: #808080;
$shadow_colour: #ececec;
$lightshade_colour: #f9f9f9;
$anti_colour: #fff;
$title_colour: #1F1F1F;

