/* Footnotes */
.footnote-definition:first-of-type {
  border-top: 1px solid;
  padding-top: 1rem;
}
.footnote-definition {
  margin-top: 1rem;
}
.footnote-definition sup {
  margin-left: -1rem;
  float: left;
}
