@use 'colours';

a {
  color: colours.$secondary_colour;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: colours.$highlight_colour;
}

::selection {
  color: colours.$anti_colour;
  background: colours.$highlight_colour;
}
::-moz-selection {
  color: colours.$anti_colour;
  background: colours.$highlight_colour;
}