@use 'colours';

.tags-article {
  min-height: 0.5rem;
  display: inline-block;
  font-size: 0.9rem;
  ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 1rem;
    overflow: visible;
  }
  li {
    display: inline-flex;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;    
    margin-bottom: 0.05rem;
		padding-left: clamp(8px, 0.1rem, 100vw);
		padding-right: clamp(4px, 0.1rem, 100vw);
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    transition: transform 0.1s ease;
    a {
      color: colours.$anti_colour;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      font-weight: 550;
      transition: transform 0.1s ease;
    }
    a:hover, a:active {
      transform: scale(1.05);
    }    
  }
  li:hover, li:active {
    transform: scale(1.05);
  }
}