@use 'fonts';
@use 'colours';



h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  color: colours.$title_colour;
  line-height: 1.25;
  color: colours.$main_colour;
  text-rendering: optimizeLegibility;
  font-family: fonts.$main_font;
}
h1 { font-size: 2rem; }
h2 { margin-top: 1rem; font-size: 1.5rem; }
h3 { margin-top: 1.5rem; font-size: 1.25rem; }
h4, h5, h6 { margin-top: 1rem; font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: colours.$main_colour;
}


strong {
  color: colours.$main_colour;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: colours.$main_colour;
  border-left: .25rem solid colours.$lightshade_colour;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}