
<h2>Welcome!</h2>

<p>I am a bioinformatician research scientist based in France currently working at the <a href="https://www.florimond-desprez.fr/"> Florimond Desprez Group</a>.</p>
<p>I build software and data workflows to help breeders make better decisions <b>faster</b>.</p>


<h2>What I do</h2>
<p>
I design tools to analyze <a href="{{ get_url(path='activity') }}">omics data</a>. That means turning complex biological information into actionable insights with automation, reproducibility, and scalability in mind.
</p>
<p>
I care a lot about making data workflows that don't just work, but <b>last</b>.
</p>

<h2>Before that</h2>

<p>
Over the last decade, I contributed to population genomics studies for fisheries and marine biology at the <a href="https://www.cefe.cnrs.fr/fr/recherche/bc/bev/1048-desc/3594-pierre-edouard-guerin">CNRS</a>.</p>
<p>
I have been fortunate to collaborate on a number of <a href="{{ get_url(path='publications') }}">scientific publications</a>.
</p>

<h2>Why this blog?</h2>


This <a href="{{ get_url(path='articles') }}">blog</a> is where I stash ideas, findings, and methods picked up along the way. Happy reading!