<p>
<a href="{{ get_url(path='resume') }}">Pierre-Edouard Guerin</a> is a Bioinformatician research scientist. He works at <a href="https://www.florimond-desprez.com/fr/fr/groupe-florimond-desprez/notre-recherche.html">the Research Unit of Florimond Desprez Group</a>. His expertise lies in crop genetics, data engineering, biotech and omics.
</p>

<p>
Pierre-Edouard develops data-driven tools and workflows to support decision-making in plant breeding. Such tools process genotyping data (NGS, DNA chip) and perform analysis combining omics and environmental data.
</p>

<p>
Recent projects involve building a comprehensive database for genetic information used in plant breeding, alongside automating the processing of lab data. He also attends meetings and conferences to follow state-of-the-art methods.</p>


<p>
Prior to joining Florimond Desprez Group, Pierre-Edouard was a bioinformatician at the <a href="https://www.cefe.cnrs.fr/fr/recherche/bc/bev/1048-desc/3594-pierre-edouard-guerin">CNRS</a>. During 5 years, under the direction of Dr. Stephanie MANEL, he contributed to numerous <a href="{{ get_url(path='publications') }}">scientific publications</a>.
He collaborated in many European projects focusing on fish stock assessment and management. He received his master degree of bioinformatics and computational science from the University of Paris.
</p>

