
<h2>Welcome, please call me <a href="{{ get_url(path='resume') }}">Pierre</a></h2>

<p>I am a bioinformatician research scientist based in France currently working at <a href="https://www.florimond-desprez.fr/">Florimond Desprez Group</a>.</p>
<p>I build software and data workflows to help breeders make better decisions <b>faster</b>.</p>


<h2>What I do</h2>
<p>
I design tools to analyze <a href="{{ get_url(path='activity') }}">omics data</a>. That means turning complex biological information into actionable insights with automation, reproducibility, and scalability in mind.
</p>
<p>
I care a lot about making data workflows that don't just work, but <b>last</b>.
</p>

<h2>Before that</h2>

<p>
I contributed to population genomics studies for fisheries and marine biology at  <a href="https://www.cefe.cnrs.fr/fr/recherche/bc/bev/1048-desc/3594-pierre-edouard-guerin">CNRS</a>.</p>
<p>
I have been fortunate to collaborate on a number of <a href="{{ get_url(path='publications') }}">scientific publications</a>.
</p>

<h2>Thank you for visiting my site</h2>


This <a href="{{ get_url(path='articles') }}">blog</a> is where I share ideas, findings, and methods from my scientific journey. Have a nice visit!

