<div class="newsletter-signup">

    <h2 class="newsletter-title">My Newsletter</h2>
    <p class="newsletter-description">
    A yearly digest of my articles.
    </p>


    <form class="newsletter-form"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form" 
    action="https://guerinpe.us7.list-manage.com/subscribe/post?u=394cdeb388254c4bcedf3c3b8&id=adbf7af90f"
    method="post"
    target="_blank"
    novalidate>
    <div class="side-by-side">
        <input
        name="EMAIL"
        type="email"
        placeholder="Type your email..."
        required
        class="email-input"
        aria-label="Email address"
        />
        <button type="submit" class="newletter-subscribe-button">
        <span class="button-text">Subscribe</span>
        </button>
    </div>
    </form>
</div>