
<div class="top-bar">

<div class="top-bar-left">
  <a href="{{ config.base_url }}/" class="top-avatar">
    <img src="{{ config.base_url }}/avatar.png" alt="Portrait of Pierre-Edouard Guerin Bioinformatician Data Scientist" />
  </a>
</div>
<div class="top-bar-center">
    <div class="site-title"><a href="{{ config.base_url }}/">{{ config.title }}</a>
</div>
  
</div>



    <div class="top-bar-right">
    <button class="top-icon-button" aria-label="Search" onclick="location.href='/search'">
        <!-- Search Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
        </svg>
    </button>

    <button class="top-icon-button" aria-label="Share" id="share-button">
        <!-- Share Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share">
        <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
        <polyline points="16 6 12 2 8 6"></polyline>
        <line x1="12" x2="12" y1="2" y2="15"></line>
        </svg>
    </button>

    <button class="top-contact-button">
       <a href="mailto:{{ config.extra.webmail }}" role="button" aria-label="Send email to Pierre-Edouard Guerin">
  Contact
</a>
    </button>
    </div>
</div>

