{% extends "index.html" %}

{% block content %}
<div class="post">
  

  {% set current_year = "" %}

  {% for page in section.pages %}
    {% set year = page.date | date(format="%Y") %}

    {% if year != current_year %}
      {% if current_year != "" %}
        </div> <!-- fin du groupe précédent -->
      {% endif %}
      <h1 class="page-title">{{ year }}</h1></h2>
      <div class="year-group">
      {% set_global current_year = year %}
    {% endif %}

    <div class="post-preview">
      <h3 class="post-preview-title">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </h3>

      <div class="tags-article">
        <ul>
          {% if page.taxonomies.tags %} 
            {% for tag in page.taxonomies.tags | sort %}
              <li style="background: {{ config.extra.tags_colour[tag] }}">
                <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">{{ tag }}</a>
              </li> 
            {% endfor %}
          {% endif %}        
          <li class="post-preview-info">{{ page.date | date(format="%b %Y") | upper }}</li>
        </ul>    
      </div>
    </div>
  {% endfor %}

  </div>

  {% if paginator.previous %}
    <a href="{{ paginator.previous }}"><b>< < Back</b></a>
  {% endif %}
  {% if paginator.next and paginator.previous %}|{% endif %}
  {% if paginator.next %}
    <a href="{{ paginator.next }}"><b>Next > ></b></a>
  {% endif %}
</div>
{% endblock content %}
