<html>
  <head>
        
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <!-- CSS -->
       <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
       <link rel="stylesheet" href="{{ get_url(path="corps.css", trailing_slash=false) }}">
       <link rel="stylesheet" href="{{ get_url(path="sobre.css", trailing_slash=false) }}">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  </head>
    <body>     

        {% block sidebar %}       
        <div class="sidebar"> 
          <div class="sidebar-lang">

            {% for langue in config.languages %}
              {% if langue.code == "en" %}  
                <a href="{{config.base_url}}" style="content: url({{config.base_url}}/flags/4x3/{{langue.code}}.svg)"></a> 
              {% else %}
              <a href="{{config.base_url}}{{ langue.code }}" style="content: url({{config.base_url}}/flags/4x3/{{langue.code}}.svg)"></a> 
             {% endif %}
            {% endfor %}

          </div>

        <hr>

          <div class="avatar" style="background-image:url('{{config.base_url}}/avatar.png')"></div>
          <div class="sidebar-name"><p> PIERRE-EDOUARD <b>GUERIN</b> </p></div>
           <div class="sidebar-description"><p> {{config.description}} </p></div>
      
          <div class="sidebar-nav-brand">
              {% block sidebar_nav %}
              {% for link in config.extra.links %}
              <a href="{{link.url}}" style="content: url({{config.base_url}}/brands/{{link.name}}.svg)"></a> · 
              {% endfor %}
              Montpellier, FR · <a href="https://www.ephe.fr">EPHE</a>
              {% endblock sidebar_nav %}
          </div>

<hr>
          <div class="container sidebar-sticky">
            <div class="sidebar-about">
                {% block sidebar_about %}
                    <a href="{"><h1>{{ config.title }}</h1></a>
                    {% if config.description %}
                    <p class="lead">{{config.description}}</p>
                    {% endif %}
                {% endblock sidebar_about %}
            </div>
          </div>
        </div>
        {% endblock sidebar %}


        <div class="content container">
                    {% block content %}
                        <div class="posts">                          
                            {% for page in section.pages | reverse %}
                              <div class="post">                                
                                <h1 class="post-title">
                                  <a href="{{ page.permalink }}">                               
                                    {{ page.title }}                                    
                                  </a>
                                </h1>

                                <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                              </div>
                            {% endfor %}
                        </div>
                    {% endblock content %}
                </div>

    </body>
</html>
