<html lang=""> 
  <head>      
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=6" />

      <title> {{config.title}} </title>
      <link rel="shortcut icon" href="{{ config.base_url }}/peguerin.ico" type="image/x-icon" />

      <!-- Open Graph -->
      <meta property="og:title" content="Pierre-Edouard GUERIN" />
      <meta property="og:description" content="Computer science, machine learning, omics, computational biology and bioinformatics." />
      <meta property="og:image" content="{{ config.base_url }}/avatar.png" />
      <meta property="og:url" content="https://guerinpe.com" />
      <meta property="og:site_name" content="Pierre-Edouard GUERIN" />

      <!-- Twitter Card -->
      <meta name="twitter:title" content="Pierre-Edouard GUERIN" />
      <meta name="twitter:description" content="Computer science, machine learning, omics, computational biology and bioinformatics." />
      <meta name="twitter:image" content="{{ config.base_url }}/avatar.png" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image:alt" content="scientific blog of Pierre-Edouard GUERIN" />      


      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path='print.css', trailing_slash=false) }}" media="print" />
      <link rel="stylesheet" href="{{ get_url(path='corps.css', trailing_slash=false) }}" />
      <link rel="stylesheet" href="{{ get_url(path='navbar.css', trailing_slash=false) }}" />      
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet" />

  </head>
    <body>
    {% block navbar %}   
    <div class="navbar">       
      <a href="{{config.base_url}}"><span class="avatar" style="background-image:url('{{config.base_url}}/avatar.png')"></span></a>
      <div class="navbar-name"><p> {{config.title}} </p></div>
      <div class="navbar-description"><p> {{config.description}} </p></div>      
      <div class="navbar-nav-brand">
          {% block navbar_nav_brand %}          
          {% for link in config.extra.links %}
          <a href="{{link.url}}" style="content: url({{config.base_url}}/brands/{{link.name}}.svg)">{{link.name}}</a>
          {% endfor %}
          <a href={{config.extra.myjob_site}}>{{config.extra.myjob_name}}</a>         
          {% endblock navbar_nav_brand %}

      </div>   
      <hr>      
      <ul class="navbar-nav">
        {% block navbar_nav_infos %}
        {% if config.description %}                    
          <li class="navbar-nav-item"><a href="{{ get_url(path="articles") }}">Blog</a></li>
          <li class="navbar-nav-item"><a href="{{ get_url(path="resume") }}/#">Curriculum Vitae</a></li>
        {% endif %}
        <li class="navbar-nav-item"><a href="{{ get_url(path="resume") }}/#projects">Projects</a></li>
        <li class="navbar-nav-item"><a href=" {{ get_url(path="resume") }}/#softwares">Softwares</a></li>
        <li class="navbar-nav-item"><a href=" {{ get_url(path="resume") }}/#publications">Publications</a></li>
        <li class="navbar-nav-item"><a href="https://github.com/Grelot/machine_learning_demo#machine_learning_demo" >Machine learning</a></li>
        {% endblock navbar_nav_infos %}                    
      </ul>
    </div>

    {% endblock navbar %}
    <div class="content container">    

      {% block content %}
      <div>
          
      <h1>About</h1>
           {% include "extra/about.html" %}
     
     <br>     
     <hr>
    </div>   

    {% endblock content %}
    </div>
 
    <div class="footer"> 
      {{config.extra.myjob_address}} {{config.extra.mytown}}, {{config.extra.mycountry}}<br>
      <a href="mailto:{{config.extra.webmail}}"> {{config.extra.webmail | replace(from="@", to=" [at] ") }}</a> {{config.extra.myjob_tel}}
      <br><br><br><br>
      <small> Copyright © 2017-2026 Pierre-Edouard GUERIN. All Rights Reserved | Powered by ZOLA</small>
    </div>
    </body>
</html>
