{% extends "index.html" %}

{% block content %}
<div class="post">
       
  <h1 class="post-title">{{ page.title }}</h1>
  <p><i> {{page.description}}</i></p>

  <div class="sidebar-lang"> 
      
    {% for langue in config.languages %}            
      {% if langue.code == "en" %}  
        <a href="{{config.base_url}}/{{ page.relative_path | split(pat='index') | first }}" style="content: url({{config.base_url}}/flags/4x3/{{langue.code}}.svg)"></a>
      {% else %}              
      <a href="{{config.base_url}}{{ langue.code }}/{{page.relative_path | split(pat='index') | first}}" style="content: url({{config.base_url}}/flags/4x3/{{langue.code}}.svg)"></a> 
     {% endif %}
    {% endfor %}
    
  </div>
  <br>
  <span class="post-date">{{ page.date | date(format="%B %eth, %Y") }}. Pierre-Edouard GUERIN</span>
  <br>
  <hr>
  {{ page.content | safe }}
  <hr>
</div>
{% endblock content %}


